<% provide(:title, 'Conversion statistics') %>
<div class="row">
	<%= render 'shared/sidebar_form' %>	
	<div class="col-md-9">
		<%= render 'shared/hit_form' %>	                                          
        <table id="results" class="table table-bordered table-hover" width="100%" cellspacing="0">	
          <thead>
            <tr>
              <th scope="col">Total</th>
              <th scope="col">Supplier</th>
              <th scope="col">Second Supplier</th>
              <th scope="col">GDS ID</th>
              <th scope="col">Booking status</th>
              <th scope="col">Total Book</th>              
              <th scope="col">Booking percent</th>              
              <th scope="col">Payment status</th>
              <th scope="col">Total pays</th>
              <th scope="col">Payment percent</th>
              <th scope="col">Provider</th>
              <th scope="col">Channel</th>              
            </tr>
          </thead>
          <tbody class="results">  
          <% @items[:items].each do |item|%>      	  	
              <tr>
                 <td><%= item[:hit] %></td>
                 <td>
                 		<%= link_to item[:supplier_code], supplier_code: item[:supplier_code], date_from: @date_from, date_to: @date_to, channel: @channel %>
                 </td>
                 <td>
                 	<% if item[:second_validating_supplier].present? %>
                 	<%= link_to item[:second_validating_supplier], second_validating_supplier: item[:second_validating_supplier], date_from: @date_from, date_to: @date_to, channel: @channel %>
                 	<% end %>	
                 	</td>
                 <td><%= item[:gds_id] %></td>
                 <td><%= item[:book_status] %></td>
                 <td><%= item[:total_book] %></td>                 
                 <td><%= item[:book_percent].round(2) %>%</td>
                 <td><%= item[:pay_status] %></td>
                 <td><%= item[:total_pay] %></td>
                 <td><%= item[:payment_percent].round(2) %>%</td>                                  
                 <td>
                 	<% if item[:provider_name].present? %>	
                 	<%= link_to item[:provider_name], provider_name: item[:provider_name], date_from: @date_from, date_to: @date_to, channel: @channel %>
                 	<% end %>	
                 	</td>
                 <td><%= item[:channel] %></td>
              </tr>
              <% end %>
          </tbody>              
              <tr>
                 <td><%= @items[:total][:hits] %></td>
                 <td>&nbsp;</td>
                 <td>&nbsp;</td>
                 <td>&nbsp;</td>
                 <td>&nbsp;</td>
                 <td><%= @items[:total][:book] %></td>                 
                 <td><%= @items[:total][:total_book_percent].round(2) %>%</td>
                 <td>&nbsp;</td>
                 <td><%= @items[:total][:pays] %></td>
                 <td><%= @items[:total][:total_payment_percent].round(2) %>%</td>              
                 <td>&nbsp;</td>
                 <td>&nbsp;</td>
              </tr>                                       
        </table>					
	</div>
</div>