  <div class="col-md-3 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Authorization", authorization_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Search request", search_path %>  
        </li>
        <li class="nav-item">
          <%= link_to "Search results", searchresult_path %> 
        </li>
        <li class="nav-item">
          <%= link_to "Flight info(Get Reccomendation)", flightinfo_path %> 
        </li>
        <li class="nav-item">
          <%= link_to "Fare Family", farefamily_path %> 
        </li>        
        <li class="nav-item">
          <%= link_to "Fare conditions", farecondition_path %> 
        </li>
        <li class="nav-item">
          <%= link_to "Book request", book_path %>           
        </li>
        <li class="nav-item">
          <%= link_to "Booking info", info_path %>           
        </li>
        <li class="nav-item">
          <%= link_to "Cancel booking", cancel_path %>           
        </li>
        <li class="nav-item text"><strong>Оплата заказа</strong></li>        
        <li class="nav-item">
          <%= link_to "Payment info", payinfo_path %>           
        </li>
        <li class="nav-item">
          <%= link_to "Payment", payment_path %>           
        </li>
        <li class="nav-item">
          <%= link_to "Hit Graphic", hits_path %>           
        </li>        
      </ul>
    </div>
  </div>